.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
android/.gradle/
ios/Pods/
.idea/
.vscode/
*.log
token.txt
*.accessToken
*.iml
.android_repair_backup_*/
android/key.properties
android/app/*.jks
android/app/*.keystore
*.jks
*.keystore
*.p8
*.p12
*.mobileprovision
